boto3==1.34.56
botocore==1.34.56
click==8.1.7
colorama==0.4.6
contextlib2==21.6.0
Jinja2==3.1.3
jmespath==1.0.1
MarkupSafe==2.1.5
python-dateutil==2.9.0.post0
PyYAML==6.0.1
s3transfer==0.10.0
schema==0.7.8
semantic-version==2.10.0
six==1.16.0
urllib3==2.0.7
