name: Test Code

on:
  pull_request:
    branches:
      - master

jobs:
  lint-python:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Lint Python (Flake8)
        uses: grantmcconnaughey/lintly-flake8-github-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  lint-bash:
    name: Lint Bash
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Lint Bash (Shellcheck)
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './scripts'
          additional_files: 'install'